{
	"presets": ["next/babel"],
	"plugins": ["styled-jsx/babel", ["styled-components", { "ssr": true }]],
	"env": {
		"test": {
			"presets": ["@babel/preset-env", "@babel/react", "next/babel"]
		},
		"development": {
			"presets": ["next/babel"]
		}
	}
}
